<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html>

<head>
    <title>Authorities</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/dataTables.bootstrap5.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-confirm.min.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .btn-block {
            width: 100%;
            display: block;
        }
    </style>

</head>
<body>
    <div class="navbar"></div>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
<div id="about-main-content" style="margin-bottom: 30px;">
    <h1 class="mt-5">ROLE CRUD</h1>
    <p class="lead">Role a footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code class="small">padding-top: 60px;</code> on the <code class="small">main &gt; .container</code>.</p>
    <p>Car Back to <a href="../examples/sticky-footer/">the default sticky footer</a> minus the navbar.</p>
    <div class="d-flex flex-row-reverse">
        <button type="button" id="btnAdd" data-bs-toggle="modal" data-bs-target="#Modal" class="btn btn-primary" ><i class="bi bi-plus-circle"></i> Add Roles</button>
        <button type="button" id="delete" class="btn btn-danger" data-id="1" title="Delete Data" style="margin-right: 15px;"><i class="bi bi-trash"></i>Delete</button>
    </div>
    <hr class="mb-4">
    <div>
    <table id="mainTable" class="table table-striped" style="width:100%">
        <thead>
        <tr>
            <th><input type="checkbox" name="select_all" value="1" id="select-all"></th>
            <th>Username</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        </thead>
    </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <h5 class="modal-title text-white" id="roleModalLabel">Role</h5>
                </div>
               <form id="authForm">
                <input type="hidden" id="roleUsername" value="" />
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="employeeName" class="form-label">
                        User
                        <select id="employeeName" class="select-basic-single form-control" style="width : 100%" required>
                            <option value=""> ------ </option>
                        </select>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label for="role" class="form-label">Role</label>
                        <div class="row" id="role-wrapper" data-value="">
                            <div class="col-sm-5">
                                <select name="from[]" id="role" class="form-control" size="8" multiple="multiple"></select>
                            </div>
                            <div class="col-sm-2">
                                <button type="button" id="role_rightAll" class="btn btn-block"><i class="bi bi-skip-forward-fill"></i></button>
                                <button type="button" id="role_rightSelected" class="btn btn-block"><i class="bi bi-caret-right-fill"></i></button>
                                <button type="button" id="role_leftSelected" class="btn btn-block"><i class="bi bi-caret-left-fill"></i></button>
                                <button type="button" id="role_leftAll" class="btn btn-block"><i class="bi bi-skip-backward-fill"></i></button>
                            </div>

                            <div class="col-sm-5">
                                <select name="to[]" id="role_to" class="form-control" size="8" multiple="multiple" required></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="submit" class="btn btn-success btn-sm"><i class="bi bi-save"></i> Save</button>
                </div>
               </form>
            </div>
        </div>
    </div>
</div>
</div>
   
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/js.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/js/dataTables.bootstrap5.min.js"></script>
<script type="text/javascript" src="/js/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/js/multiselect.js"></script>
    <script type="text/javascript" th:src="@{/js/app/authorities.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>